*{
    margin: 0%;
    /* font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal; */
    /* font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal; */
  }
  :root{
    --bb:#086AD8;
    --button:#137ADF;
    --jost: "Jost", sans-serif;
    --barlow: "Barlow", sans-serif;
  }
  .headerwrapper{
    width: 100%;
    height: 90px;
    display: flex;
    background-color: #ffff;
    justify-content: center;
    position: sticky;
    top:0px;
    z-index: 100;
  }
  .headercontainer{
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .headercenter{
    display: flex;
    gap: 30px;
  }
  .headercenter nav{
    font-family: "Barlow", sans-serif;
    font-size: 15px;
    font-weight: 700;
  }
  .navh{
    color: var(--bb);
  }
  .headerright{
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
  
  }
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 25,
    'opsz' 22;
  }
  .cartcircle{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color:var(--bb);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 10px;
    bottom: 27px;
  }
  .cartcircle span{
    font-size: 10px;
    color: white;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    
  }
  .headerrightline{
    width: 1px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.179);
  }
  .headerright button{
    width: 182px;
    height: 46px;
    background-color: var(--button);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    position: relative;
    transition-duration: 0.3s;
    z-index: 1;
  }
  .headerright button::before{
    content: "";
    background-color: #0e0e0e;
    position: absolute;
    top: 0;
    bottom: 50%;
    left: 0;
    right: 182px;
    z-index: -1;
    transition: 0.3s;
  }
  .headerright button:hover::before{
    right: 0;
    border-radius: 5px 5px 0 0;
    transition: 0.3s;
  }
  .headerright button::after{
    content: "";
    background-color: #0e0e0e;
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 182px;
    right: 0;
    z-index: -1;
    transition: 0.3s;
  }
  .headerright button:hover::after{
    left: 0;
    border-radius: 0 0 5px 5px;
    transition: 1s;
  }
  .herocomponent{
    width: 100%;
    height: calc(100vh - 150px);
    /* background-color: blue; */
    position: relative;
    background-image: url(page-banner.jpeg);
    background-size:1900px;
    background-repeat: no-repeat;
    background-position: 70% 60%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .shapeone{
    position: absolute;
    top: -280px;
    left: -530px;
  }
  .shapetwo{
    position: absolute;
    top: -220px;
    left: -200px;
  }
  .shapethree{
    position: absolute;
    bottom: -170px;
    right: -40px;
    transform: rotate(180deg);
  }
  .shapefour{
    position: absolute;
    bottom: -500px;
    right: -440px;
  }
  .inputHolder h1{
    font-family: var(--barlow);
    font-size: 60px;
    color: white;
  }
  .inputHolder h3{
    font-family: var(--jost);
    font-size: 20px;
    color: white;
    text-align: center;
  }
  
  .teamSection{
    display: flex;
    width: 100%%;
    height: 130vh;
    justify-content: center;
    align-items: center;
    margin-bottom: ;
  }
  
  .teamidentity{
  display: grid;
  width: 85%;
  height: 100vh;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
  margin-left: 0px;
  margin-top: -50px;
  margin-bottom: 60px;
  }
  
  .teamBoxone{
    width: 100%;
    height: calc(80vh - 50px);
    /* background-color: blue; */
    position: relative;
    background-image: url(team-1.jpeg);
    background-size:320px;
    background-repeat: no-repeat;
    background-position: 40% 10%;
    overflow: hidden;
    display: flex;
    justify-content:flex-start;
    align-items: center;
  }
  .teamBoxone .teamcontentone{
    position: absolute;
    margin-left: 60px;
    margin-bottom: -170px;
    z-index: 5;
    font-size: 20px;
    font-family: var(--barlow);
  }
  .teamcontentone h3{
    color: white;
  }
  .teamcontentone h6{
    color: white;
    z-index: 5;
  }
  .teamBoxone .teamcontentone .name::before{
    content: "";
    position: absolute;
    height: 50px;
    width: 20px;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    background: linear-gradient(-180deg, #43baff 0%, #7141b1 100%);
    z-index: -1;
  }
  
  .teamBoxtwo{
    width: 100%;
    height: calc(80vh - 50px);
    /* background-color: blue; */
    position: relative;
    background-image: url(team-2.jpeg);
    background-size:320px;
    background-repeat: no-repeat;
    background-position: 40% 10%;
    overflow: hidden;
    display: flex;
    justify-content:flex-start;
    align-items: center;
  }
  .teamBoxtwo .teamcontenttwo{
    position: absolute;
    margin-left: 60px;
    margin-bottom: -170px;
    z-index: 5;
    font-size: 20px;
    font-family: var(--barlow);
  }