*{
    margin: 0%;
    /* font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal; */
    /* font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal; */
  }
  :root{
    --bb:#086AD8;
    --button:#137ADF;
    --jost: "Jost", sans-serif;
    --barlow: "Barlow", sans-serif;
  }
  .headerwrapper{
    width: 100%;
    height: 90px;
    display: flex;
    background-color: #ffff;
    justify-content: center;
    position: sticky;
    top:0px;
    z-index: 100;
  }
  .headercontainer{
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .headercenter{
    display: flex;
    gap: 30px;
  }
  .headercenter nav{
    font-family: "Barlow", sans-serif;
    font-size: 15px;
    font-weight: 700;
  }
  .navh{
    color: var(--bb);
  }
  .headerright{
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
  
  }
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 200,
    'GRAD' 25,
    'opsz' 22;
  }
  .cartcircle{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color:var(--bb);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 10px;
    bottom: 27px;
  }
  .cartcircle span{
    font-size: 10px;
    color: white;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    
  }
  .headerrightline{
    width: 1px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.179);
  }
  .headerright button{
    width: 182px;
    height: 46px;
    background-color: var(--button);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    position: relative;
    transition-duration: 0.3s;
    z-index: 1;
  }
  .headerright button::before{
    content: "";
    background-color: #0e0e0e;
    position: absolute;
    top: 0;
    bottom: 50%;
    left: 0;
    right: 182px;
    z-index: -1;
    transition: 0.3s;
  }
  .headerright button:hover::before{
    right: 0;
    border-radius: 5px 5px 0 0;
    transition: 0.3s;
  }
  .headerright button::after{
    content: "";
    background-color: #0e0e0e;
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 182px;
    right: 0;
    z-index: -1;
    transition: 0.3s;
  }
  .headerright button:hover::after{
    left: 0;
    border-radius: 0 0 5px 5px;
    transition: 1s;
  }
  .herocomponent{
    width: 100%;
    height: calc(100vh - 150px);
    /* background-color: blue; */
    position: relative;
    background-image: url(page-banner.jpeg);
    background-size:1900px;
    background-repeat: no-repeat;
    background-position: 70% 60%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .shapeone{
    position: absolute;
    top: -280px;
    left: -530px;
  }
  .shapetwo{
    position: absolute;
    top: -220px;
    left: -200px;
  }
  .shapethree{
    position: absolute;
    bottom: -170px;
    right: -40px;
    transform: rotate(180deg);
  }
  .shapefour{
    position: absolute;
    bottom: -500px;
    right: -440px;
  }
  .inputHolder h1{
    font-family: var(--barlow);
    font-size: 60px;
    color: white;
  }
  .inputHolder h3{
    font-family: var(--jost);
    font-size: 20px;
    color: white;
    text-align: center;
  }
  
  .teamSection{
    display: flex;
    width: 100%%;
    height: 130vh;
    justify-content: center;
    align-items: center;
    margin-bottom: ;
  }
  
  .teamidentity{
  display: grid;
  width: 85%;
  height: 100vh;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
  margin-left: 0px;
  margin-top: -50px;
  margin-bottom: 60px;
  }
  
  .teamBoxone{
    width: 100%;
    height: calc(80vh - 50px);
    /* background-color: blue; */
    position: relative;
    background-image: url(team-1.jpeg);
    background-size:320px;
    background-repeat: no-repeat;
    background-position: 40% 10%;
    overflow: hidden;
    display: flex;
    justify-content:flex-start;
    align-items: center;
  }
  .teamBoxone .teamcontentone{
    position: absolute;
    margin-left: 60px;
    margin-bottom: -170px;
    z-index: 5;
    font-size: 20px;
    font-family: var(--barlow);
  }
  .teamcontentone h3{
    color: white;
  }
  .teamcontentone h6{
    color: white;
    z-index: 5;
  }
  .teamBoxone .teamcontentone .name::before{
    content: "";
    position: absolute;
    height: 50px;
    width: 20px;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    background: linear-gradient(-180deg, #43baff 0%, #7141b1 100%);
    z-index: -1;
  }
  
  .teamBoxtwo{
    width: 100%;
    height: calc(80vh - 50px);
    /* background-color: blue; */
    position: relative;
    background-image: url(team-2.jpeg);
    background-size:320px;
    background-repeat: no-repeat;
    background-position: 40% 10%;
    overflow: hidden;
    display: flex;
    justify-content:flex-start;
    align-items: center;
  }
  .teamBoxtwo .teamcontenttwo{
    position: absolute;
    margin-left: 60px;
    margin-bottom: -170px;
    z-index: 5;
    font-size: 20px;
    font-family: var(--barlow);
  }
  .teamcontenttwo h3{
    color: white;
  }
  .teamcontenttwo h6{
    color: white;
    z-index: 5;
  }
  .teamBoxtwo .teamcontenttwo .nametwo::before{
    content: "";
    position: absolute;
    height: 50px;
    width: 20px;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    background: linear-gradient(-180deg, #43baff 0%, #7141b1 100%);
    z-index: -1;
  }
  
  .teamBoxthree{
    width: 100%;
    height: calc(80vh - 50px);
    /* background-color: blue; */
    position: relative;
    background-image: url(team-3.jpeg);
    background-size:320px;
    background-repeat: no-repeat;
    background-position: 40% 10%;
    overflow: hidden;
    display: flex;
    justify-content:flex-start;
    align-items: center;
  }
  .teamBoxthree .teamcontentthree{
    position: absolute;
    margin-left: 60px;
    margin-bottom: -170px;
    z-index: 5;
    font-size: 20px;
    font-family: var(--barlow);
  }
  .teamBoxthree h3{
    color: white;
  }
  .teamcontentthree h6{
    color: white;
    z-index: 5;
  }
  .teamBoxthree .teamcontentthree .namethree::before{
    content: "";
    position: absolute;
    height: 50px;
    width: 20px;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    background: linear-gradient(-180deg, #43baff 0%, #7141b1 100%);
    z-index: -1;
  }
  
  .teamBoxfour{
    width: 100%;
    height: calc(80vh - 50px);
    /* background-color: blue; */
    position: relative;
    background-image: url(team-4.jpeg);
    background-size:320px;
    background-repeat: no-repeat;
    background-position: 40% 10%;
    overflow: hidden;
    display: flex;
    justify-content:flex-start;
    align-items: center;
  }
  .teamBoxfour .teamcontentfour{
    position: absolute;
    margin-left: 60px;
    margin-bottom: -170px;
    z-index: 5;
    font-size: 20px;
    font-family: var(--barlow);
  }
  .teamBoxfour h3{
    color: white;
  }
  .teamcontentfour h6{
    color: white;
    z-index: 5;
  }
  .teamBoxfour .teamcontentfour .namefour::before{
    content: "";
    position: absolute;
    height: 50px;
    width: 20px;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    background: linear-gradient(-180deg, #43baff 0%, #7141b1 100%);
    z-index: -1;
  }
  
  .teamBoxfive{
    width: 100%;
    height: calc(80vh - 50px);
    /* background-color: blue; */
    position: relative;
    background-image: url(team-1.jpeg);
    background-size:320px;
    background-repeat: no-repeat;
    background-position: 40% 10%;
    overflow: hidden;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-top: -120px;
  }
  .teamBoxfive .teamcontentfive{
    position: absolute;
    margin-left: 60px;
    margin-bottom: -170px;
    z-index: 5;
    font-size: 20px;
    font-family: var(--barlow);
  }
  .teamBoxfive h3{
    color: white;
  }
  .teamcontentfive h6{
    color: white;
    z-index: 5;
  }
  .teamBoxfive .teamcontentfive .namefive::before{
    content: "";
    position: absolute;
    height: 50px;
    width: 20px;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    background: linear-gradient(-180deg, #43baff 0%, #7141b1 100%);
    z-index: -1;
  }
  
  .teamBoxsix{
    width: 100%;
    height: calc(80vh - 50px);
    /* background-color: blue; */
    position: relative;
    background-image: url(team-2.jpeg);
    background-size:320px;
    background-repeat: no-repeat;
    background-position: 40% 10%;
    overflow: hidden;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-top: -120px;
  }
  .teamBoxsix .teamcontentsix{
    position: absolute;
    margin-left: 60px;
    margin-bottom: -170px;
    z-index: 5;
    font-size: 20px;
    font-family: var(--barlow);
  }
  .teamBoxsix h3{
    color: white;
  }
  .teamcontentsix h6{
    color: white;
    z-index: 5;
  }
  .teamBoxsix .teamcontentsix .namesix::before{
    content: "";
    position: absolute;
    height: 50px;
    width: 20px;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    background: linear-gradient(-180deg, #43baff 0%, #7141b1 100%);
    z-index: -1;
  }
  
  .teamBoxseven{
    width: 100%;
    height: calc(80vh - 50px);
    /* background-color: blue; */
    position: relative;
    background-image: url(team-3.jpeg);
    background-size:320px;
    background-repeat: no-repeat;
    background-position: 40% 10%;
    overflow: hidden;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-top: -120px;
  }
  .teamBoxseven .teamcontentseven{
    position: absolute;
    margin-left: 60px;
    margin-bottom: -170px;
    z-index: 5;
    font-size: 20px;
    font-family: var(--barlow);
  }
  .teamBoxseven h3{
    color: white;
  }
  .teamcontentseven h6{
    color: white;
    z-index: 5;
  }
  .teamBoxseven .teamcontentseven .nameseven::before{
    content: "";
    position: absolute;
    height: 50px;
    width: 20px;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    background: linear-gradient(-180deg, #43baff 0%, #7141b1 100%);
    z-index: -1;
  }
  
  .teamBoxeight{
    width: 100%;
    height: calc(80vh - 50px);
    /* background-color: blue; */
    position: relative;
    background-image: url(team-4.jpeg);
    background-size:320px;
    background-repeat: no-repeat;
    background-position: 40% 10%;
    overflow: hidden;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-top: -120px;
  }
  .teamBoxeight .teamcontenteight{
    position: absolute;
    margin-left: 60px;
    margin-bottom: -170px;
    z-index: 5;
    font-size: 20px;
    font-family: var(--barlow);
  }
  .teamBoxeight h3{
    color: white;
  }
  .teamcontenteight h6{
    color: white;
    z-index: 5;
  }
  .teamBoxeight .teamcontenteight .nameeight::before{
    content: "";
    position: absolute;
    height: 50px;
    width: 20px;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    background: linear-gradient(-180deg, #43baff 0%, #7141b1 100%);
    z-index: -1;
  }
  
  .footercontainer{
    width: 100%;
    height: 560px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(footer-bg.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
  }
  .footerwrapper{
    width: 85%;
    height: 460px;
    display: flex;
    align-items: center;
  }
  .footergrid{
    width: 100%;
    height: 260px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 80px;
  }
  .footergridtech{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .footergridtech img{
    width: 180px;
  }
  .footergridtech p{
    font-family: var(--jost);
    font-size: 14px;
    color: white;
    font-weight: 600;
    width: 220px;
    line-height: 30px;
  }
  .footersocials{
    display: flex;
    gap: 14px;
  
  }
  .footersocialsholder{
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footersocialsholder img{
    width: 20px;
    object-fit: cover;
  }
  .footergridlist{
    padding-top: 15px;
    text-align: left;
  }
  .footergridlist h4{
    font-family: var(--barlow);
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-bottom: 40px;
  
  }
  .footergridlist ul{
    font-family: var(--jost);
    font-size: 14px;
    font-weight: 500;
    color: #c4c5c7;
    list-style: none;
    padding-left: 0%;
    line-height: 30px;
  }
  li{
    width: 130px;
    transition: all 0.3s linear;
  }
  li:hover{
    padding-left: 12px;
    transition: all 0.3s linear;
    color: var(--bb);
  }
  .footergridcontact{
    padding-top: 15px;
  }
  .footergridcontact h4{
    font-family: var(--barlow);
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-bottom: 40px;
  }
  .footergridcontactinfo{
    display: flex;
    gap: 7px;
    margin-bottom: 20px;
  }
  .footergridcontactinfo p{
    font-family: var(--barlow);
    font-size: 16px;
    color: #c4c5c7;
    font-weight: 600;
  }
  .footergridcontactinfo span{
    font-family: var(--barlow);
    font-size: 16px;
    color: #c4c5c7;
    font-weight: 600;
  }
  .footergridcontactinfo p:hover{
    color: var(--bb);
  }
  .footerline{
    width: 100%;
    margin-top: 10px;
    border-top: 3px solid #0E1323;
  }
  .footercopyrights{
    font-family: var(--jost);
    font-size: 14px;
    color: #c4c5c7;
    margin-top: 30pefmefm;
  }